#======================================
# Directories
#--------------------------------------
build/
dist/
coverage/
venv/
tmp/
resources/
test/


#======================================
# Extensions
#--------------------------------------
*.css
*.gz
*.local
*.log
*.rar
*.tar
*.zip


#======================================
# IDE generated
#--------------------------------------
.idea/
.project
*.iml


#======================================
# OS generated
#--------------------------------------
__MACOSX/
.DS_Store
Thumbs.db

#======================================
# Particular Files
#--------------------------------------
era-sdk-e482800d2214.json