beautifulsoup4==4.6.0
bs4==0.0.1
certifi==2018.4.16
chardet==3.0.4
click==6.7
cssselect==1.0.3
dateparser==0.7.0
dlib==19.8.1
face-recognition==1.2.2
face-recognition-models==0.3.0
fake-useragent==0.1.10
falcon==1.4.1
hug==2.4.0
hug-middleware-cors==1.0.0
idna==2.7
lxml==4.2.3
mongoengine==0.15.3
numpy==1.15.0
parse==1.8.4
Pillow==5.2.0
pyee==5.0.0
pymongo==3.7.1
pyppeteer==0.0.19
pyquery==1.4.0
python-dateutil==2.7.3
python-mimeparse==1.6.0
pytz==2018.5
regex==2018.7.11
requests
scikit-learn==0.19.2
scipy==1.1.0
six==1.11.0
tzlocal==1.5.1
urllib3
w3lib==1.19.0
websockets==6.0
